body{
    padding: 50px 100px;
    background: url('/bg.png') no-repeat center center/cover;

}

h1{
    text-align: center;
}

#container{
    text-align: center;
    background-color:#79E0EE;
    padding: 50px;

}

.input-div{
    display: inline-block;
}

.inp{
    padding: 10px 5px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    text-align: center;
}
label{
    font-size: 22px;
    color: white;
    font-style: italic;
}